Source: tuxedo-backlight-control
Package: tuxedo-backlight-control
Version: 0.2
Maintainer: Kevin Van Lierde
Architecture: all
Description: Tuxedo Backlight Control
  This utility is built on top of TUXEDO Computers Kernel module for keyboard backlighting: (https://github.com/tuxedocomputers/tuxedo-keyboard) for Debian-based systems.
  It provides a bash CLI and a minimal Python UI.
Section: utils/contrib
Priority: optional
Recommends: python3, python3-tk
Installed-Size: 52
