[Desktop Entry]
Name=Tuxedo Backlight Control
Comment=Minimal backlight CLI & Python UI
Exec=/usr/share/tuxedo-backlight-control/bin/backlight ui standalone
Path=/usr/share/tuxedo-backlight-control/bin
Icon=/usr/share/tuxedo-backlight-control/icon.png
Terminal=true
Type=Application
Categories=Settings;HardwareSettings;
