[Desktop Entry]
Name=Tuxedo Backlight Control
Comment=Minimal backlight CLI & Python UI
Exec=/usr/share/tuxedo-backlight-control/ui.py
Path=/usr/share/tuxedo-backlight-control
Icon=/usr/share/tuxedo-backlight-control/icon.png
Terminal=False
Type=Application
Keywords=backlight;keyboard;tuxedo;
Categories=System;Settings;
